uploads/
coverage/
!/uploads/defaultUser.png
!/uploads/arts_and_literature.jpeg
!/uploads/film_and_tv.jpeg
!/uploads/food_and_drink.jpeg
!/uploads/general_knowledge.jpeg
!/uploads/geography.jpeg
!/uploads/history.png
!/uploads/history.jpeg
!/uploads/music.jpeg
!/uploads/science.jpeg
!/uploads/society_and_culture.jpeg
!/uploads/sport_and_leisure.jpeg
!/uploads/sport.avif

